{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block content %}
<div class="page-header"><h1>About Rango</h1></div>
Go back to <a href="{% url 'index' %}">"Rango"</a> page.

{% if visits %}
    <p>You've visited the index page {{ visits }} times!</p>
{% else %}
    <p>You never visited the index page. <a href="{% url 'index' %}">Go fix
        this!</a></p>
{% endif %}

<button onclick="alert('Simple inline JS');">
    Run JS
</button>

<button id="about-btn">
    Run JQuery
</button>

<p id="msg">Victim of JS trickery</p>

<p>Another victim</p>

<p>Here is a pic for <strong>About</strong> page.</p>
<img src="{% static file_name %}" alt={{ file_name }} />
{% endblock %}
