{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Rango index{% endblock %}

{% block content %}

<div class="page-header hero-unit">
    <h1>Привет,
    {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">{{ user.username }}</a>!
    {% else %}
        <a href="{% url 'auth_login' %}">%username%</a>!
    {% endif %}Мы скучали по тебе.</h1>
</div>

<div class="row placeholders">
    <div class="col-xs-12 col-sm-6 placeholder">
    {% if categories %}
        <h1>There are {{ categories|length }} categories:</h1>
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'category' category.slug %}"
                        >{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>There are no categories present.</h1>
    {% endif %}
{#    {% if user.is_authenticated %}#}
    <a href="{% url 'add_category' %}" class="login-required">Add a new Category</a>
{#    {% endif %}#}
    </div>

    <div class="col-xs-12 col-sm-6 placeholder">
    {% if pages %}
        <h1>Top 5 viewed pages:</h1>
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
</div>

<img src="{% static "img/army.png" %}" class="img-responsive"
     alt="Army of Darkness" />
{% endblock %}

