<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        {% if user.is_authenticated %}
            <h1>Hello, {{ user.username }}!</h1>
        {% else %}
            <h1>Привет, <a href="/rango/login/">%username%</a>! Мы скучали по тебе.</h1>
        {% endif %}

        {% if categories %}
            <h1>There are {{ categories|length }} categories:</h1>
            <ul>
                {% for category in categories %}
                    <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h1>There are no categories present.</h1>
        {% endif %}

        <a href="/rango/add_category/">Add a new Category</a>

        {% if pages %}
            <h1>Top 5 viewed pages:</h1>
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}



        <a href="/rango/about/">About</a><br />
        <a href="/rango/login/">Login</a><br />
        <a href="/rango/register/">Register</a><br />
        <img src="{% static "army.png" %}" alt="Army of Darkness" />
    </body>

</html>
