{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Rango index{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Hello, {{ user.username }}!</h1>
    {% else %}
        <h1>Привет, <a href="{% url 'auth_login' %}">%username%</a>! Мы
            скучали по
            тебе.</h1>
    {% endif %}

    {% if categories %}
        <h1>There are {{ categories|length }} categories:</h1>
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'category' category.slug %}"
                        >{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>There are no categories present.</h1>
    {% endif %}

    {% if user.is_authenticated %}
    <a href="{% url 'add_category' %}">Add a new Category</a>
    {% endif %}

    {% if pages %}
        <h1>Top 5 viewed pages:</h1>
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <img src="{% static "army.png" %}" alt="Army of Darkness" />
{% endblock %}

