{% extends 'rango/base.html' %}

{% block title %}Rango Registration{% endblock %}

{% block body_block %}
    <h1>Register with Rango</h1>

    {% if user.is_authenticated %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="{% url 'index' %}">Return to homepage</a>
    {% else %}
        <form novalidate id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}
