{% extends 'base.html' %}

{% load css_utils %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block content %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">

{% block before %}{% endblock %}

<h2 class="form-signin-heading">{% block form_heading %}{% endblock %}</h2>

<form id="signin_form" method="post" action={% block action %}"."{% endblock %} class="form-signin">
    {% csrf_token %}

    {% for field in form %}
        <p>
            {{ field.errors }}
            {{ field.help_text }}
            {{ field.label_tag }}{{ field|add_css:"form-control" }}
        </p>
    {% endfor %}

    {{ form.non_field_errors }}

    {% block hidden %}{% endblock %}
    <button type="submit" class="btn btn-lg btn-primary btn-block">
        {% block submit_label %}{% endblock %}
    </button>
</form>

{% block after %}{% endblock %}
{% endblock %}
